# Build outputs
Debug/
Release/
x64/
x86/

# Intermediate files
*.obj
*.pdb
*.ilk
*.log

# Visual Studio cache
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Test
/Flashcards/Flashcards.vcxproj
/Flashcards/Flashcards.vcxproj.filters
